# vim: set sw=2:
language: ruby
rvm:
  - 2.0.0
  - ruby-head
env:
  global:
    - SECRET_TOKEN=lalalalalalalala
matrix:
  allow_failures:
    - rvm: ruby-head

# remove the ruby line from Gemfile so we can test multiple versions
before_install:
  - sed -i '/^ruby/d' Gemfile

deploy:
  provider: heroku
  api_key:
    secure: VAXp5QOBWGXxa0sO896gi8nxaN7W45Sv+0bdLXWpJ3s9L2YVIUG+LgLB04/Tes7PiO4pkY72ZUEaft6QjtFnuWdIyvmO642dtiTyHfV7zHz2aGBjaM400XE1vz99qzGLzZ+vLAaQ26cxFzE5n6HJvIszMuI/SWYirWl4v0p3bfA=
  app: disseminate
  on:
    repo: DexterTheDragon/disseminate
    rvm: 2.0.0
  run: "rake db:migrate"
